In [1]:
True # George Bool 19th century mathematician invented boolean algebra
# extremely well suited for computers which work with 0s and 1s

True

George Boole ![George Boole] https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/George_Boole_color.jpg/440px-George_Boole_color.jpg

In [2]:
type(True), type(False)

(bool, bool)

In [4]:
5 > 7

False

In [5]:
type(5 > 7)

bool

In [6]:
8 == 18-10 #evaluation is right to left so 18-10 is done first

True

In [7]:
2*2 == 4, 2*2 == 5

(True, False)

In [8]:
5 == '5' # these are not the same in Python!
# integer 5 is not the same as string 5

False

In [9]:
5 == int('5') # we compare the same data types, otherwise inequality

True

In [10]:
# in Python " and ' are used the same way
"Valdis" == 'Valdis'

True

In [11]:
"Valdis" == "Valdis"

True

In [12]:
"Valdis " == "Valdis" #remmeber the WHITESPACE!! single space character

False

In [ ]:
# we have more lesser or greater comparions <, >, <=, >=.

In [13]:
5 <= 6, 5 <= 5

(True, True)

In [15]:
a=2
b=4
a*a==b, a*a==4, a*a==5

(True, True, False)

In [16]:
a >= 2, a > b, a >= b, a < b, a <= b #

(True, False, False, True, True)

In [ ]:
# there is an inequality comparison

In [14]:
5 != 6, 5 != 5 # so true and false, you are saying 5 is not equal to 5

(True, False)

In [17]:
a*a != 4, a*a != 9000

(False, True)

In [ ]:
not True, not False

## Comparing strings

In [18]:
'VALDIS' < 'VOLDEMARS' # what is being compared here?

True

In [ ]:
len('VALDIS') < len('VOLDEMARS')

In [19]:
'VALDIS' < 'VOLD'

True

In [20]:
'VALDIS' < 'VB'

True

In [21]:
'ZALDIS' < 'VB'

False

In [23]:
'Valdis' > 'VALDIS' # because a comes after A

True

In [24]:
len('VALDIS') < len('VOLDEMARS')

# We check each letter from left side
# on mismatch we check ASCII (UTF-8) tables for values

'VALDIS' < 'VOLDEMARS'

True

In [25]:
'kaÄ·is' < 'kakis' # cat vs cat in Latvian

False

### Getting character from Unicode number

In [26]:
chr(65)

'A'

In [29]:
chr (256), chr(257), chr(258)

('Ä€', 'Ä', 'Ä‚')

In [27]:
chr(400) # so you can get UTF-8 characters out of their code numbers

'Æ'

In [30]:
chr(4000)

'à¾ '

In [31]:
chr(40000)

'é±€'

In [34]:
chr(100000)

'ð˜š '

In [33]:
chr(128523)

'ðŸ˜‹'

In [35]:
# ord gets you integer value representing unicode value
ord('Ä·')

311

In [36]:
ord('Ä¶')

310

In [37]:
ord('Ä€'),ord('Ä')

(256, 257)

In [38]:
'Valdis'  < "VOLDEMARS"

False

In [39]:
print(chr(97))

a

In [40]:
chr(4000)

'à¾ '

In [41]:
ord("Ä")

257

In [42]:
ord('Ä¶')

310

In [43]:
list(range(5))

[0, 1, 2, 3, 4]

# Logical Operators

### Logical Negation

In [ ]:
# and is only only true if both sides are true, otherwise false

In [46]:
not False

True

In [47]:
not True

False

In [50]:
is_hot=False
print (is_hot)

False

In [51]:
is_hot = not is_hot
print (is_hot)

 #we reverse the value of is_hot to the opposite of the previous

True

## Logical conjuction with and

In [52]:
True and True

True

In [45]:
True and False # and requires for BOTH sides to be true

False

In [53]:
False and True

False

In [54]:
False and False

False

In [55]:
5 > 4 and 2*2 == 4

True

In [56]:
True and True and 2*2 == 4

True

## Lazy evaluation

In [58]:
True and True and 2*2 == 4 and 2*2 == 5 # one drop of oil spoils honey

False

In [57]:
#Lazy evaluation
# As soon as something is false,Python will stop evaluating the sequence

3 < 2 and True and 2*2 == 4 and 5 == 5 
# once the first false value is found Python stops looking
# so as soon as 3 <2 is encountered python stops evaluation bevause is going to be false

False

In [60]:
a*a == 4 and a*2 == b and b < 10

True

## Complex numbers in Python

In [ ]:
# complex numbers in Python
4+5j # so j is i in math which square root of -1

In [ ]:
(4+5j)*(3+2j) # 4*3 == 12 (5*3)j+(2*4)j + (5j*2j)= 10*-1

In [ ]:
i = (2+4j)

In [ ]:
i**2

In [ ]:
1_000_000 # for big numbers you can type like this and _ will be ignored

In [62]:
1_0_0_4

1004

In [61]:
1 000 000 # this will not work

SyntaxError: ignored

## Logical disjunction

In [63]:
# logical or, one side should be true for the whole expression to be true

In [64]:
True or False

True

In [65]:
False or False #only one which will be false

False

In [66]:
True or True

True

In [67]:
False or True

True

### Lazy evaluation for disjunction (or)

In [68]:
5/0 # throws a zerodivisionerror

ZeroDivisionError: ignored

In [70]:
my_zero=0
my_zero != 0 and 100/my_zero

False

In [ ]:
False or True or True or 2*2 == 4 # Python stops checking after first True

In [ ]:
#lazy evaluation
(4 == 4 or 4 < 3) or 4 < 3

In [ ]:
not 4 == 4 # so we invert True

## Longer comparisons

In [71]:
1 < a < 3 < b < 5 < 10 # true because a and b are 2 and 4 respectively here

True

In [72]:
1 < a and a < 3 and 3 < b and b < 5 and 5 < 10 #pythons approves shorter way, this is for different languages mores

True

# Bit Operators

In [ ]:
# this is for hardware engineers, automechanics, maybe Raspberry Pi owners
~0

In [ ]:
~1

In [ ]:
~0

In [73]:
bin(4)

'0b100'

In [ ]:
bin(7)

In [ ]:
bin(-1)

In [74]:
# bit operation 11 and 100 so no bits so we get 000
3 & 4

0

In [ ]:
3 & 5 # 11 and 101 so we should get 001 that is 1

In [ ]:
2**8 # THIS MEANS that one byte can hold 256 different values

In [ ]:
bin(255),bin(3),bin(4),bin(5),bin(6),bin(7)

In [ ]:
bin(127), bin(128)

In [ ]:
1+2**1+2**2+2**3+2**4, bin(31)

In [ ]:
bin(3)

In [ ]:
bin(4)

In [ ]:
# bit or will be 11 or 100 should be 111
3 | 4

In [ ]:
# Bitwise XOR (Exclusive XOR)
True ^ False

In [ ]:
True ^ True

In [ ]:
False ^ False

In [ ]:
# shifted 1 to 100000 which is 32, 2 to the 5th power
1 << 5

In [ ]:
bin(32)

In [ ]:
127 >> 4

In [ ]:
bin(127)

## If Statement

In [ ]:
## Conditional execution
# if 4 is larger than 5 then do something
if 6 > 5:
    print("6 is larger than 5 wow!")

In [ ]:
## Conditional execution
# if 4 is larger than 5 then do something
my_val = 1
if my_val > 5:
    # so we have code block when if is true
    print(f"{my_val} is larger than 5 wow!")
    # only runs when if statement is true
    print("Only when if is true")
print("This will always run")

In [ ]:
if 5 >= 5:
    print("hello")
if 5 <= 5:
    print("hello")
if 5 == 6:
    print("hello thats magic")
if 5 != 6:
    print("hello thats not magic")

In [ ]:
if 2*2 == 4:
    print("Do one thing if if is True")
    print("DO more things if if is True")
print("Do this always")

In [ ]:
a = 4
if 2*2 == a:
    print("Do one thing if if is True")
    print("DO more things if if is True")
    
    
    print("Do more")
print("Do this always")

In [ ]:
a = 24
if 2*2 == a:
    print("Do one thing if if is True")
    print("DO more things if if is True")
    
    if (a > 3):
        print("Do more")
        
if (a > 3):
    print("a is larger than 3")       
# Last line will always be printed
print("Do this always")

In [ ]:
a = input("What is your age ")
print('Your age is ', a)

In [ ]:
c = int(input("Enter temperature in Celsius "))
f = c * 9/5 + 32
print("Farenheit Temperature is", f)

In [ ]:
c = float(input("ievadiet  temperature in Celsius "))
f = c * 9/5 + 32
print("Farenheit Temperature is", f)
if f > 100:
    print("You are too hot, find a doctor?")

In [ ]:
# Show all current local variables
%whos

In [ ]:
%store

In [ ]:
a = 5
b = "Food"

In [ ]:
%whos

In [ ]:
%store a

In [ ]:
%whos

In [ ]:
%store

In [ ]:
#Retrieve variables from disk
%store -r

In [ ]:
%whos

In [ ]:
%store b

In [ ]:
%store -r b

In [ ]:
b

In [ ]:
%store -r a

In [ ]:
a = 5
if a > 5:
    print('a is larger than 5')
    # do more stuff
else:
    print('a is NOT larger than 5')
    # do more stuff if a is not larger than 5
print("Always print this")

In [ ]:
#elif comes from else if
x = int(input("Enter an integer please! "))
if x > 42:
    print("Too ambitious an answer!")
elif x < 42:
    print("You dream too little!")
else:
    print("That is the answer to everything!")
#These lines below will execute always
print('Your number is', x)

Enter an integer please! 42
That is the answer to everything!
Your number is 42

## Loops
* While
* For
* Do While (emulate)

In [ ]:
sum(range(0,30))

In [ ]:
sum(range(0,30,5))

In [ ]:
i = 0
sum = 0
while i < 30 and sum < 100:
    print('i is ', i)
    sum += i # same as sum = sum + i
    print('sum is ', sum)
    i += 1
print('Final sum is ', sum)

In [ ]:
i = 0
while i < 5:
    print('i is', round(i, 6), i )
    i+=0.3 # same as i = i + 0.3
print('All Done', round(i, 6))

In [ ]:
# we can import an additional library for math functions
import math
math.ceil(5.7)

In [ ]:
summa = 0
maxnum = 30
step = 5
i = 0
while i < 30:
    summa += i
    print("Value:", i, " Current Sum:", summa)
    i += step
print("Iterator is", i, "Final sum is", summa)

In [ ]:
i = 0
while True:
    print("i is ", i)
    i += 1
    if i > 10:
        break # this will exit the loop
print("This will never print", i)

In [ ]:
i = 0
sum = 0
while i < 10:
    print(i)
    i += 1
    if i > 5:
        print("continuing loop when i is ", i)
        continue
    sum += i # this line will not be process if continue fires
print(sum)

In [ ]:
i

In [ ]:
# This will run forever and you will need to restart kernel
i = 0
while True:
    print("This print forever i is", i)
    i += 1
    if i > 5:
        print("Actually I decided to stop when i is", i)
        break # here we break out of while loop
    
print("This prints when we break out of loop")

In [ ]:
summa = 0
maxnum = 30
i = 0
while i < maxnum:
    summa += i
    print("Current sum is", summa)
    i += 1
print("Final sum is", summa)

In [ ]:
sum(range(10))

In [ ]:
sum(range(0,22,2))

In [ ]:
summa = 0
i = 2
while i <= 20:
    summa += i # summa = summa + i
    print('Sum is ', summa)
    i += 2
print("Final sum", summa)

In [ ]:
a = 2018
b = 2019
print(a,b)

In [ ]:
a = b
print(a,b)

In [ ]:
a = 2018
b = 2019
print(a,b)

In [ ]:
temp = a
a = b
b = temp
print(a, b)

In [ ]:
#More python way to exchange values
print("Before swap\t", a, b)
a, b = b, a
print("After swap\t", a, b)

In [ ]:
c = 2020
d = 2077

In [ ]:
# we can swap many values at once
print(a,b,c,d)
a,b,c,d = d,c,b,a # we calculate from right to left
print(a,b,c,d)

In [ ]:
# Good old Fibonacci
#a, b, c = 0, 1, 10
a = 1
b = 1
c = 10
while c < 100:
    print(a, b, c, b/a)
    a, b, c = b, a+b, c+1 # multiple assignment yay! right side from left to right eval first then assigned to left!
print(c)

In [ ]:
name = "Valdis"
for c in name: # we will loop through all characters in name
    print(c)

In [ ]:
for n in range(10):
    print(n)

In [ ]:
# this is an anti-pattern, try to avoid this
for c in range(len(name)):
    print(name[c])

In [ ]:
c

In [ ]:
for x in range(10):
    print(x, end="*")

In [ ]:
for x in [1,6,3,77,788]:
    print(x, x*x)
    # we could do more with our x here and do more
print(x)

In [ ]:
for c in "Valdis":
    print(c)

In [ ]:
name = "Valdis"
#Not Pythonic
for i in range(len(name)):
    print(i, name[i])

In [ ]:
name="Valdis Saules"
# Pythonic Way to number items in an iterable
for i, el in enumerate(name,start=1000):
    print(i, el)
print("At end", i, el)

In [ ]:
for el in name:
    print(el)

In [ ]:
groceries = ["Bread", "Milk", "Chocolate"]
for elem in groceries:
    print("I need to buy", elem)

In [ ]:
mlist = list(range(0,20,2))
mlist

In [ ]:
mlist[5]

In [ ]:
d={}
for index, elem in enumerate([1,2,6,55]):
    print(index, elem)
    d[str(index)]=elem
print(d)

In [ ]:
nd={}
for index, elem in enumerate([1,2,6,55]):
    print(index, elem)
    nd[index]=elem
print(nd)

In [ ]:
d['2']

In [ ]:
nd[3]

In [ ]:
nd[2]

In [ ]:
nd['2']

In [ ]:
d

In [ ]:
# also for k,v in d.items(): any names will do
for key, value in d.items():
    print('My dictionary item with key:',key, " value:", value)

In [ ]:
# How to iterate over a dictionary
for key, value in d.items():
    print("Processing")
    # here we add an if statement
    if value % 2 == 0:
        print(key,value)

In [ ]:
# outer loop
for a in range(1,5):
    # inner loop
    for b in range(20,24):
        print(a,b)

In [ ]:
print(a,b)

In [ ]:
for a in range(1,9):
    print('A is ', a)
    for b in range(a,6):
        print(a,b)

In [ ]:
n=0
for a in range(1,4):
    for b in range(11,14):
        for c in range(21,24):
            print(n, a, b, c)
            n+=1

In [ ]:
#The break statement, like in C, breaks out of the innermost enclosing for or while loop.

#Loop statements may have an else clause; it is executed when the loop terminates through exhaustion of the list (with for) or when the condition becomes false (with while), but not when the loop is terminated by a break statement. This is exemplified by the following loop, which searches for prime numbers:

for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else: #badly named Else IMHO! should be exhausted not ELSE!!! VS
        # loop fell through without finding a factor
        print(n, 'is a prime number')

In [ ]:
# The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action. For example:
# Do not run this !!!
while True:
    pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
#emulated do while loop
a=0
while True:
    # statement(s)
    a+=1
    print(a)
    if not a < 5:
        break

## Iterating over lists

In [ ]:
for i in range(10):
    print(i, end='')  #Python 3.x specific

In [ ]:
for i in range(10):
    print(f'{i} ',end='')  #Python 3.6+ specific

In [ ]:
names=['Alice','Bob','Carol','David']
for n in names:
    print(n, len(n))

In [ ]:
# An older Pythonic method of iterating over indices of a sequence
# an anti-pattern 
for i in range(len(names)):
    print(i, names[i])

In [ ]:
for i, name in enumerate(names):
    print(i, name)

In [ ]:
mycollection=[]
for el in mycollection:
    pass # empty operation
    # do work on el in your collection

In [ ]:
squares = []

In [ ]:
squares = []
# For example, assume we want to create a list of squares, like:
for x in range(30,40,2):
    squares.append(f'Square of {{x}} {x} is {x**2}')
    squares.append('Square of {x} ' +str(x) + ' is ' + str(x**2))
squares
#[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# List Comprehensions

In [ ]:
mlist = [x**2 for x in range(10)]
mlist

In [ ]:
mylist = [x+5 for x in range(10) if x%2 == 0]
mylist

In [ ]:
myl = [x+10 for x in range(5) if x%2 == 0]
myl

In [ ]:
"kartupelis"[::2]

In [ ]:
mytlist = ["Letter is "+ c for c in "kartupelis" if c > 'e']
mytlist

In [ ]:
name = "Valdis Saules"
mynd = {"key "+c: ord(c) for c in name}
mynd

In [ ]:
name = "Valdis Saules"
mynd = {"key "+c+str(i): [c, ord(c)] for i,c in enumerate(name)}
mynd

In [ ]:
mylist=[]
for x in range(10):
    mylist.append(x+5)

In [ ]:
# Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:

# squares = list(map(lambda x: x**2, range(10)))

squares = [x**2 for x in range(10)]
squares

In [ ]:
squares = [x**2 for x in range(10) if x % 2 == 1]
squares

In [ ]:
mydict = {"key "+c: ord(c) for c in "kartupelis"}
mydict

In [ ]:
# In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:


sqrs={str(x): x**2 for x in range(1,20)}
print(sqrs)

In [ ]:
sqrs[5]

In [ ]:
#When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

## Avoid changing the sequence that you loop(iterate) over!

In [ ]:
mlist = list(range(10))
mlist

In [ ]:
for el in mlist:
    print(el)
    # do not modify mlist when going looping through:

In [ ]:
names

In [ ]:

for n in names[:]: #Looping over shallow copy of a list useful if we are going to modify the original list!
    if n[0]=='B':
        names.append(n)
print(names)

In [ ]:
## Enumerate method
#When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.


for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

### To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [ ]:
mlist

In [ ]:
# two ways of looping through list and creating a new list
clist = []
for el in mlist:
    clist.append(el**3)
clist

In [ ]:
# second way of creating a list
clist = [x**3 for x in range(10)]
clist

In [ ]:
for a,b in zip(mlist,clist[:5]):
    print(a,b)

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print(f'What is your {q}?  It is {a}.')

In [ ]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.


for i in reversed(range(1, 10, 2)):
    print(i)

In [ ]:
# To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.


basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

## Homework
### Write a program that goes over(iterates) numbers from 1 to 100(included)
* For each number it prints Fizz if number divides by 5 even
* For each number it prints Buzz if number divides by 7 evenly
* If number divides by 5 AND 7 print FizzBuzz
* print number if it does not divide by 5 nor 7
* 1,2,3,4,Fizz,6,Buzz,8,9,Fizz,11,.......34,FizzBuzz,36

In [ ]:
1,2,3,4,"Fizz"

In [ ]:
for x in range(1,101):
    print(x)